In [32]:
file = r'https://raw.githubusercontent.com/clueple/free_resources/master/sample_data.csv'

In [33]:
from pandas import read_csv, to_datetime
import numpy as np
from matplotlib import pyplot as plt

In [34]:
df = read_csv(file)

In [35]:
df['Date'] = to_datetime(df['Date'], format='%Y-%m-%d')
df.set_index('Date', inplace=True)
df.tail()

               Open     High      Low    Close  Volume
Date
2022-01-25  24203.0  24358.0  23996.0  24238.0  169458
2022-01-26  24428.0  24477.0  24121.0  24317.0  141282
2022-01-27  24100.0  24100.0  23569.0  23840.0  119772
2022-01-28  23900.0  23909.0  23549.0  23612.0    6968
2022-01-31  23585.0  23958.0  23426.0  23862.0   59520

In [36]:
import string
from pathlib import Path

In [37]:
text_file = r'f:/character_string.txt'

In [38]:
def read_txt(file):
    data = Path(file).read_text(encoding='utf-8')
    return data

In [39]:
p = read_txt(text_file)

In [40]:
import re

In [41]:
p

'桑普多利亞總裁馬可蘭納在新聞發布會上對公司未來的情況進行了評估：“我擔心圍繞各個主題的所有這些媒體主義可能會損害桑普多利亞。我不希望一些買家離開. 理解，我知道的程序並沒有確定精確的時間。這是一個我們沒有指揮的過程，我不能保證任何事情。對我們來說，總是很難繼續下去，他們越早到達，越早解決很多問題。這方面我不確定。。但我只能感謝 Banca Sistema 和 Banca Macquarie 以及幫助我們的員工和供應商，沒有這些因素，我們不會有今天。”'

In [42]:
sp = re.sub(r"[：，。！\n]", "\n",p) #make sure the punctuation is in Chinese format (not the normal English ones)
sp

'桑普多利亞總裁馬可蘭納在新聞發布會上對公司未來的情況進行了評估\n“我擔心圍繞各個主題的所有這些媒體主義可能會損害桑普多利亞\n我不希望一些買家離開. 理解\n我知道的程序並沒有確定精確的時間\n這是一個我們沒有指揮的過程\n我不能保證任何事情\n對我們來說\n總是很難繼續下去\n他們越早到達\n越早解決很多問題\n這方面我不確定\n\n但我只能感謝 Banca Sistema 和 Banca Macquarie 以及幫助我們的員工和供應商\n沒有這些因素\n我們不會有今天\n”'

In [43]:
print(sp)

桑普多利亞總裁馬可蘭納在新聞發布會上對公司未來的情況進行了評估
“我擔心圍繞各個主題的所有這些媒體主義可能會損害桑普多利亞
我不希望一些買家離開. 理解
我知道的程序並沒有確定精確的時間
這是一個我們沒有指揮的過程
我不能保證任何事情
對我們來說
總是很難繼續下去
他們越早到達
越早解決很多問題
這方面我不確定

但我只能感謝 Banca Sistema 和 Banca Macquarie 以及幫助我們的員工和供應商
沒有這些因素
我們不會有今天
”